*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}


body header{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
}


#reports{
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    
    
}

#header input{
    width: 50vw;
    background-color: yellowgreen;
}

.report{
    padding: 12px;
    margin-top: 8px;
    width: 50vw;
}
.report h3{
    padding: 1px;
    font-size: 24px;
}
.report article{
    padding: 4px;
    font-size: 18px;
}

.complete-button{
    background-color: rgb(7, 133, 7);
    border-radius: 5px;
    font-weight: 500;
    padding: 2px;
    margin: 2px;

}

.alta-prioridad-btn{
    background-color: rgb(162, 21, 21);
    border-radius: 5px;
    font-weight: 500;
    padding: 2px;
    margin: 2px;

}

.baja-prioridad-btn{
    background-color: rgb(215, 215, 30);
    border-radius: 5px;
    font-weight: 500;
    padding: 2px;
    margin: 2px;

}



    

#login-body div form{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    color: antiquewhite;
}

#login a{
    color: black;
    background-color: brown;
    text-decoration: none;
    
}


